<div class="list-users-container">
	<ng-container *ngIf="vm$ | async as vm">
		<!-- Search & Filter Bar -->
		<div class="search-filter-bar">
			<div class="search-row">
				<mat-form-field appearance="outline" class="search-field">
					<mat-icon matPrefix>search</mat-icon>
					<input
						matInput
						[formControl]="searchControl"
						[placeholder]="
							'listUsers.searchPlaceholder' | translate
						"
					/>
					<button
						mat-icon-button
						matSuffix
						*ngIf="searchControl.value"
						(click)="clearSearch()"
						aria-label="Clear search"
					>
						<mat-icon>clear</mat-icon>
					</button>
				</mat-form-field>

				<mat-form-field appearance="outline" class="library-select">
					<mat-select
						[formControl]="libraryCodeControl"
						multiple
						[placeholder]="'listUsers.allLibraries' | translate"
						panelClass="library-code-panel"
					>
						<mat-select-trigger>
							{{ getLibraryFilterLabel() }}
						</mat-select-trigger>

						<div class="library-search-header">
							<input
								[formControl]="libraryCodeSearch"
								[placeholder]="
									'listUsers.searchLibraryCodes'
										| translate
								"
								class="library-search-input"
								(keydown)="$event.stopPropagation()"
							/>
							<button
								mat-icon-button
								*ngIf="libraryCodeSearch.value"
								(click)="libraryCodeSearch.setValue('')"
								class="library-search-clear"
							>
								<mat-icon>clear</mat-icon>
							</button>
						</div>

						<div
							*ngIf="libraryCodesLoading"
							class="library-codes-loading"
						>
							<mat-spinner diameter="20"></mat-spinner>
						</div>

						<ng-container
							*ngIf="
								filteredLibraryCodes$ | async as filteredCodes
							"
						>
							<mat-option
								*ngFor="
									let code of filteredCodes;
									trackBy: trackByIndex
								"
								[value]="code"
							>
								{{ code }}
							</mat-option>

							<div
								*ngIf="
									filteredCodes.length === 0 &&
									!libraryCodesLoading
								"
								class="library-codes-empty"
							>
								{{
									'listUsers.noLibraryCodesFound'
										| translate
								}}
							</div>
						</ng-container>
					</mat-select>
				</mat-form-field>

				<button
					mat-icon-button
					*ngIf="(libraryCodeControl.value?.length || 0) > 0"
					(click)="clearLibraryCodes()"
					class="clear-library-filter"
					[matTooltip]="'listUsers.clearFilter' | translate"
				>
					<mat-icon>filter_list_off</mat-icon>
				</button>
			</div>
		</div>

		<!-- Summary bar -->
		<div
			class="list-summary"
			*ngIf="!vm.loading && !vm.error && vm.total"
		>
			<ng-container *ngIf="isFiltered() && vm.filtered; else unfiltered">
				{{ 'listUsers.summaryFiltered' | translate: {
					filteredStaff: vm.filtered.staffUsers,
					totalStaff: vm.total.staffUsers,
					filteredLinked: vm.filtered.linkedUsers,
					totalLinked: vm.total.linkedUsers,
					filteredLinks: vm.filtered.links,
					totalLinks: vm.total.links
				} }}
			</ng-container>
			<ng-template #unfiltered>
				{{ 'listUsers.summary' | translate: {
					staff: vm.total.staffUsers,
					linked: vm.total.linkedUsers,
					links: vm.total.links
				} }}
			</ng-template>
		</div>

		<!-- Content area -->
		<div class="groups-container">
			<!-- Loading state -->
			<div *ngIf="vm.loading" class="state-message">
				<mat-spinner diameter="24"></mat-spinner>
				<span>{{ 'listUsers.loadingLinks' | translate }}</span>
			</div>

			<!-- Error state -->
			<div *ngIf="vm.error" class="state-message error">
				<mat-icon>error_outline</mat-icon>
				<span>{{ 'listUsers.loadError' | translate }}</span>
				<button mat-stroked-button (click)="onRetry()">
					{{ 'listUsers.retry' | translate }}
				</button>
			</div>

			<!-- Groups list -->
			<ng-container *ngIf="!vm.loading && !vm.error">
				<div
					*ngIf="vm.groups.length > 0; else emptyState"
					class="groups-list"
				>
					<div
						*ngFor="
							let group of vm.groups;
							trackBy: trackByStaffUser
						"
						class="staff-group"
					>
						<!-- Staff user header row -->
						<div
							class="staff-header"
							[class.no-links]="group.eduIdLinks.length === 0"
							tabindex="0"
							role="button"
							(click)="toggleGroup(group.almaPrimaryId)"
							(keydown.enter)="toggleGroup(group.almaPrimaryId)"
							(keydown.space)="toggleGroup(group.almaPrimaryId); $event.preventDefault()"
						>
							<app-user-type-chip
								[userType]="'staff'"
							></app-user-type-chip>
							<div class="staff-info">
								<span class="staff-id">{{
									group.almaPrimaryId
								}}</span>
								<span
									*ngIf="group.givenName || group.surname"
									class="staff-name"
								>{{ group.givenName }} {{ group.surname }}</span>
							</div>
							<div
								class="library-codes"
								*ngIf="group.libraryCodes.length"
								[matTooltip]="group.libraryCodes.join('\n')"
								matTooltipClass="library-codes-tooltip"
							>
								<mat-icon class="library-icon"
									>apartment</mat-icon
								>
								<ng-container
									*ngIf="
										group.libraryCodes.length <=
											INLINE_CODE_THRESHOLD;
										else codesBadge
									"
								>
									<span class="codes">{{
										group.libraryCodes.join(', ')
									}}</span>
								</ng-container>
								<ng-template #codesBadge>
									<span class="codes-count">
										{{ group.libraryCodes.length }}
									</span>
								</ng-template>
							</div>
							<span
								class="link-count"
								*ngIf="group.eduIdLinks.length > 0"
							>{{ group.eduIdLinks.length }}</span>
							<mat-icon
								class="expand-icon"
								[class.collapsed]="isGroupCollapsed(group.almaPrimaryId)"
								*ngIf="group.eduIdLinks.length > 0"
							>
								expand_more
							</mat-icon>
						</div>

						<!-- edu-ID link rows nested under staff user -->
						<ng-container
							*ngIf="
								!isGroupCollapsed(group.almaPrimaryId) &&
								group.eduIdLinks.length > 0
							"
						>
							<div
								*ngFor="
									let link of group.eduIdLinks;
									trackBy: trackByLinkId
								"
								class="eduid-link-row"
								[class.disabled-link]="
									!isEffectivelyEnabled(link)
								"
							>
								<mat-slide-toggle
									[checked]="isEffectivelyEnabled(link)"
									[disabled]="
										isToggling(link.linkId) ||
										isUnlinking(link.linkId)
									"
									(change)="
										onToggleChange(link, $event.checked)
									"
									color="primary"
								></mat-slide-toggle>

								<app-user-type-chip
									[userType]="'eduid'"
								></app-user-type-chip>
								<div class="eduid-info">
									<span
										*ngIf="
											link.eduIdGivenName ||
											link.eduIdSurname
										"
										class="eduid-name"
									>{{ link.eduIdGivenName }}
										{{ link.eduIdSurname }}</span
									>
									<span class="eduid-id">{{
										link.eduIdPersonalId
									}}</span>
								</div>

								<button
									mat-icon-button
									class="unlink-button"
									[disabled]="
										isUnlinking(link.linkId) ||
										isToggling(link.linkId)
									"
									(click)="onUnlink(link)"
									[matTooltip]="
										'listUsers.unlink' | translate
									"
								>
									<mat-icon
										*ngIf="!isUnlinking(link.linkId)"
										>link_off</mat-icon
									>
									<mat-spinner
										*ngIf="isUnlinking(link.linkId)"
										diameter="16"
										class="button-spinner"
									></mat-spinner>
								</button>
							</div>
						</ng-container>
					</div>
				</div>

				<!-- Empty state -->
				<ng-template #emptyState>
					<div class="state-message empty">
						<mat-icon>{{
							searchControl.value
								? 'search_off'
								: 'info_outline'
						}}</mat-icon>
						<span>{{
							searchControl.value
								? ('listUsers.noResults' | translate)
								: ('listUsers.noStaffUsers' | translate)
						}}</span>
					</div>
				</ng-template>
			</ng-container>
		</div>
	</ng-container>
</div>
