<div
	cdkOverlayOrigin
	#trigger="cdkOverlayOrigin"
	(mouseenter)="onTriggerEnter()"
	(mouseleave)="onTriggerLeave()"
>
	<ng-content></ng-content>
</div>

<ng-template
	cdkConnectedOverlay
	[cdkConnectedOverlayOrigin]="trigger"
	[cdkConnectedOverlayOpen]="isVisible"
	[cdkConnectedOverlayPositions]="positions"
	[cdkConnectedOverlayHasBackdrop]="false"
	[cdkConnectedOverlayPanelClass]="'library-codes-overlay'"
>
	<div
		class="library-codes-tooltip"
		(mouseenter)="onTooltipEnter()"
		(mouseleave)="onTooltipLeave()"
	>
		<div class="tooltip-label">
			{{ 'listUsers.libraryCodesLabel' | translate }}
			<span class="count">({{ libraryCodes.length }})</span>
		</div>
		<ul class="codes-list">
			@for (code of libraryCodes; track code) {
				<li>{{ code }}</li>
			}
		</ul>
	</div>
</ng-template>
